/* 			Reset everything for more control 		*/

/*          universal           */
* {
  margin:0px;
  text-decoration:none;
  font-weight:normal;
}

body {
    line-height: 1.3em;
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
 	background: #15396d url(images/bg-new.jpg) top center no-repeat;
}

img, a { border:none; }

/* 			Layout elements 		*/
#wrapper {
	margin:0px auto;
	width:99%;
	min-width:900px;
}

#header{
	background: url(images/new_head.png) left 0px no-repeat;
}

#content{
    background:#f7f3e3 url(images/corny.gif) bottom left repeat-x;
    margin:0px 10px;
    overflow:hidden;
    padding-bottom:20px;
    clear: both;
}

/*          Slideshow           */
#slideshow {
    background:#f7f3e3 url(images/slide-back.png) top center no-repeat;
    margin:0px 10px;
    padding-top:5px;
    overflow:hidden;
    clear: both;
}

#slide-content {
    padding:0px 0px 4px 0px;
    height:180px;
    background:url(images/wcorny3.gif) bottom left repeat-x;
    text-align:center;
    margin:0px auto;
    width:880px;
}

#slide-content img { margin-top:0px; display:none;}
#slide-content .visible { display:block; }

/*          Footer          */
#footer {
    padding:10px;
    padding-right: 50px;
    clear:both;
    text-align:center;
    color: #6d8f9e;
    font-size:0.8em;
    background:#d7cdac;
    margin:0px 10px 30px 10px;
}
#footer a { color:#000000; }


/* 			 Navigation 			*/
#nav { padding-top:20px; }
#nav_spacer { height:62px; margin-top:80px; background: url(images/nav.gif) repeat-x; }
#nav_spacer div {
	display:inline-block;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	padding:20px 20px 10px 20px;
}
#nav_spacer div a {
	text-decoration:none;
	color:#ffffff;
    font-size:14px;
}
#nav_spacer div a:visited {
    color:#ffffff;
}
#nav_spacer div a:hover { color:#ffff99; }
#nav_spacer div.nav_start {
    float:left;
    margin-left:0px;
    height:32px;
    background:url(images/nav-left.gif) left top no-repeat;
}
#nav_spacer div.nav_end {
    float:right;
    height:32px;
    background:url(images/nav-right.gif) right top no-repeat;
    margin-right:0px;
}
#nav_spacer div.nav_first{
    padding-left:0px;
}
/* 			sidebar styling 			*/
#sidebar {
	float:right;
	width:30%;
	padding-top:10px;
	text-align:center;
}
#sidebar h2, #sidebar h3 {
	font-family: Georgia, "Times New Roman", serif;
	margin:8px 0px 3px 0px ;
	color:#80888C;
}

/* 			contents 			*/
#contents { width: 70%; padding:20px; }
#contents p p{
	padding: 10px 0px 15px 30px;
}

#contents h1, #contents h2, #contents h3, #contents h4 {
	color:#a74738;
    font-family: Georgia, "Times New Roman", serif;
    font-weight:normal;
}
#contents h1{color:#3c5065; }
h1 {
	font-size: 1.875em;
	margin-bottom: 15px;
    padding:5px 5px 0px 0px;
    border-bottom:1px solid #d7cdac;
/*     background: url(images/dots.gif) bottom left repeat-x; */
    display:inline-block;

}

h2 {
	font-size: 1.5em;
	margin-top:15px;
	margin-bottom: 10px;
}

h3 {
    font-size: 1.3em;
    margin: 5px 0px;
}

h4 {
    font-size: 1.1em;
    margin: 5px 0px;
}

h1,h2,h3,h4 {
    display: block;
}

/*      account links       */
#account {
	float:right;
	text-align:right;
	/*background:#ffffff;*/
	padding:0px 0px 3px 10px;
	font-size:0.8em;
}
#account a { color:#0000a0;  margin-right:4px; display:inline-block; }



/*              login box               */
.loginbox { text-align:left; margin-bottom:20px;}

/*          misc elements       */
/* cfp jump button */
#cfpjump {
    border: 3px double #a74738; background-color: #ddddff; color:
    black; font-weight: bold; text-align: center;
                    
    font-family:Georgia, "Times New Roman", serif;
    display:block;
    margin:20px 30px 20px 30px;
    padding:10px;
}

#cfpjump a{
    color:#a74738;
    font-size:1.4em;
    line-height:1.3em;
}

/* jQuery Countdown styles 1.5.8. */

/**


	By Ten Seven Interactive
	http://ten7i.com/

	May 10, 2009 - after years of practice

	If you use this & don't acknowledge it,
	we will cry a global tear. Be fair!


**/
#defaultCountdown {
    clear:both;
	width: 220px; height: 55px;
	text-align: center;
	float:right;
	margin-top:62px;
	display: none;
}
#t7_timer {
	width: 300px;
	height: 45px;
	position: relative;
}
#t7_timer_over {
	width: 300px;
	height: 55px;
	background-image: url(images/Countdown-over.gif);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 1px;
	margin: 0px;
	padding: : 0px;
}
#t7_vals {
	width: 100%;
	clear:both;
	margin: 0px auto;
}
.t7_numbs {
	font-size: 28px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
}

#t7_y {
	background-image: url(images/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 48px;
	height:35px;
	background-color:#ffffff;
	padding: 0px 0px 0px 3px;
	margin: 1px;
		margin-right:5px;

	letter-spacing: 7px;
}
#t7_d {
	background-image: url(images/Countdown3.png);
	background-repeat: no-repeat;
	float:left;
	width: 63px;
	height:25px;
	background-color:#ffffff;
	padding: 7px 0px 0px 3px;
	margin: 1px;
		margin-right:5px;

	letter-spacing: 7px;
}
#t7_h {
	background-image: url(images/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 42px;
	height:25px;
	background-color:#ffffff;
	padding: 7px 0px 0px 3px;
	margin: 1px;
		margin-right:5px;

	letter-spacing: 7px;
}
#t7_m {
	background-image: url(images/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 42px;
	height:25px;
	background-color:#ffffff;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	margin-right:5px;
	letter-spacing: 7px;
}
#t7_s {
	background-image: url(images/Countdown2-nc.png);
	background-repeat: no-repeat;
	float:left;
	width: 42px;
	height:25px;
	background-color:#ffffff;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	letter-spacing: 7px;
}

#t7_labels {
	width: 100%;
	clear:both;
	margin: 0px auto;
}

.t7_labs {
	font-size: 9px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
}
#t7_yl {
	float:left;
	width: 51px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_dl {
	float:left;
	width: 68px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_hl {
	float:left;
	width: 54px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_ml {
	float:left;
	width: 55px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_sl {
	float:left;
	width: 46px;
	height:15px;
	padding:0px;
	margin: 0px;
}

img.sponsor {
    padding: 5px;
    max-width: 180px;
}

#dateline {
    margin: 10px 0px;
}

/* customizations by Anand. */

.error {
    padding: 5px;
    background: #ffaaaa;
    border: 1px solid #ff8888;
}
.info {
    padding: 5px;
    background: #F7E3A3;
    border: 1px solid #D7C383; 
}

.formElement input[type=text], .formElement select {
    width: 500px;
    font-size: 1.2em;
}

span.smaller {
    font-size: 0.8em;
    color: #666666;
}

textarea {
    width: 100%;
    font-size: 1.0em;
    padding: 5px;
}

label {
    font-weight: 700;
}

div.label {
    padding: 15px 0px 2px 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.hidden {
    display: none;
}

.right {
    float: right;
}
.red {
    color: #e44028;
}

strong {
    font-weight: bold;
}

span.note {
    color: #e44028;
}

option {
    padding: 0px 3px;
}

p {
    margin: 5px 0px;
}
